html {
  margin: 0;
  padding: 0;
  width: 100%;
} 

body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: 'Barlow';
}

#root {
  width: 100%;
  margin: 0;
  padding: 0;
  max-width: none;   
}


.container{
  width: min(1100px, 92%);
  margin: 0 auto;
}


button {
  border-radius: 12px;
  border: 1px solid transparent;
  padding: 1.2em 2em;
  font-size: 1em;
  font-weight: 500;
  background-color: #FDC913;
  cursor: pointer;
  transition: border-color 0.25s;
  color: black;
}

button:hover { 
  border-color: #646cff;
 }

button:focus{
  outline: 4px auto -webkit-focus-ring-color;
}

button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}


.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.app-main {
  flex: 1;           
  background: #fff; 
}

.page {
  flex: 1;
  background: #fff;
}

